@import "./_icons";
*, *::before, *::after {box-sizing:border-box}
#wrap{overflow-x:hidden}
.container{padding:0 30px;margin-right:auto;margin-left:auto;}
@media(min-width:1400px){
    .container{max-width:1480px;padding:0 50px;}
}
@media(max-width:545px){
    .container{padding:0 15px;}
}
/* header */
#krds-masthead {
    .toggle-head{
        .nuri-txt{font-size:var(--krds-pc-font-size-body-xsmall)}
    }
}
#krds-header {
    .header-utility {
        .utility-list{
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            flex-direction: row;
            .krds-btn{display:inline-flex;align-items:center;gap:.4rem;}
        }
    }
    .header-container{
        .header-actions{display:flex;align-items:center;justify-content:flex-end;gap:1.2rem;}
        .btn-navi{
            flex-direction:row;
            padding: 4px 10px;
            min-height: 3.6rem;
            &::before { 
                mask-repeat: no-repeat;
                mask-position: center center;
                mask-size: contain;
            }
            &.mypage::before{
                mask-image: url(./img/component/icon/user.svg);
                -webkit-mask-image: url(./img/component/icon/user.svg);
                background-color:#5F7EFC;
            }
        }
        .btn-go{background-color:#F4F6FF;border:solid 1px #B6CDDD;border-radius:.8rem;padding:1rem;color:#1877F2;font-size:var(--krds-pc-font-size-body-large);font-weight:600;}
        .top-noti{
            width:2.3rem;height:2rem;
            background:url(./img/component/icon/bell.svg) no-repeat left center / auto 100%;
            position:relative;
            > span{
                position:absolute;top:0;right:0;
                display:flex;align-items:center;justify-content:center;
                width:14px;height:14px;border-radius:100%;background-color:#fb0000;border:solid 1px #fff;color:#fff;font-size:11px;line-height:1;
            }
        }
    }
    .krds-main-menu {
        .gnb-menu{
            .gnb-main-trigger{
                display:flex;align-items:center;gap:.8rem;
                .svg-icon{width:19px;height:19px;background: transparent url(./img/component/icon/pure-icons/cube.svg) no-repeat center center / contain;}
            }
        }
    } 
    .gnb-sesseion-timer.new{
        *{font-size:var(--krds-pc-font-size-body-medium) !important;}
        background-color:#F4F9FF;color:#0022AB;border-radius:99rem;display:inline-flex;align-items:center;gap:.5rem !important;padding:3px 3px 3px 10px;line-height:1;
        button{background-color:transparent;border:none;color:#0022AB;padding:6.5px 8px;border-radius:99rem;
            &:hover{background-color:#0022AB;color:#fff;}
        }
    }
    .krds-main-menu .gnb-menu{justify-content:center;}
}
.main-quick-menu {
    .quick-menu-item button{flex-direction:row;align-items:center;gap:10px;}
    .quick-menu-img{flex:0 0 60px;width:60px;height:60px;border-radius:16px;background-color:var(--krds-color-light-alpha-white100)}
    .quick-menu-tit{font-size:21px;color:var(--krds-color-light-alpha-white100);white-space: nowrap;}
}
.custom-breadcrumb {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom:4rem;
    color: #1E2124;
    font-size: var(--krds-pc-font-size-body-small);

    .breadcrumb-item {
        display: inline-flex;
        align-items: center;
        gap:.8rem;
        + .breadcrumb-item{
            &::before {
                content: "";display:block;
                width:16px;height:16px;
                -webkit-mask-image: url(./img/component/icon/ico_angle.svg);
                mask-image: url(./img/component/icon/ico_angle.svg);
                mask-size:contain;
                transform:rotate(-90deg);
                background-color: #999;
            }
        }
    }
    a{text-decoration: underline;}
}
.svg-icon{
    
    background-repeat:no-repeat; 
    background-position:center center;
    &.alarm.pure{mask-image:none; background-color:transparent;background-size:contain;background-image:url(./img/component/icon/pure-icons/alarm.svg);}
}
.krds-btn{
    font-size:var(--krds-pc-font-size-body-small);font-weight:600;
    &.btn-primary{background-color:#0357C4;border-color:#0357C4; color:var(--krds-color-light-alpha-white100)}
    .svg-icon{width:22px;height:22px;}
}
.btn-group {
    display: flex;
    gap: 8px;
    > li{flex:1; min-width:0;
        button {
            height:4.6rem;
            border-radius:8px;
            width:100%;padding:12px;
        }
    }
}
.like-btn {
    width: 2rem;
    height: 2rem;
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    //mask:#999 url(../styles/img/component/icon/heart.svg) no-repeat center center / contain; 
    &.is-on {
        &.on {
            background-image:url(../styles/img/component/icon/pure-icons/heart-blue.svg);
        }
    }
}
//custom tab
.region-tab-wrap {
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  margin-top: 2.4rem;
  border: 1px solid var(--krds-light-color-border-gray);
  border-radius: 0.8rem;
  overflow: hidden;
}

.region-tab {
  height: 3.6rem;
  border: 0;
  border-right: 1px solid var(--krds-light-color-border-gray);
  border-bottom: 1px solid var(--krds-light-color-border-gray);
  background: #fff;
  color:#464C53;
  font-size:var(--krds-pc-font-size-body-large);
  font-weight: 400;

  &:nth-child(9n) {
    border-right: 0;
  }

  &:nth-last-child(-n + 9) {
    border-bottom: 0;
  }

  &.is-active {
    background: #3A49D6;
    color: #fff;
    font-weight: 800;
  }
}

@media (max-width: 768px) {
  .region-tab-wrap {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .region-tab {
    &:nth-child(9n) {
      border-right: 1px solid var(--krds-light-color-border-gray);
    }

    &:nth-child(3n) {
      border-right: 0;
    }

    &:nth-last-child(-n + 9) {
      border-bottom: 1px solid var(--krds-light-color-border-gray);
    }

    &:nth-last-child(-n + 3) {
      border-bottom: 0;
    }
  }
}
//공고 팝업
.notice-layer {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    &__dim {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.25);
    }
    &__box {
        position: relative;
        z-index: 1;
        padding:2.8rem;
        width:100%;
        max-width:1000px;
        max-height: calc(100vh - 4rem);
        overflow: auto;
        background:var(--krds-color-light-alpha-white100);
        border-radius:2rem;
        box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.25);
    }

    &__close {
        position: absolute;
        top: 1.3rem;
        right: 1.3rem;
        z-index: 2;
        width: 2.8rem;
        height: 2.8rem;
        border-radius:100%;
        background:#CDD1D5;
        .svg-icon{width:16px;height:16px;background-color:#33363D;}
    }

    &__head {
        h3 {
            padding:2rem;
            border-radius:1.2rem;
            display: flex;
            //align-items: center;
            gap: 0.8rem;
            margin-top:1.2rem;
            font-size:var(--krds-pc-font-size-body-large);
            font-weight: 700;
            line-height: 1.45;
            letter-spacing: -0.04em;
            background-color:#F6F6F6;
        }
    }
    &__badges {
        display: flex;
        align-items: center;
        gap: 0.6rem;
        border-bottom:solid 1px #256EF4;
        padding-bottom:1.2rem;
    }
    &__category {
        flex: 0 0 auto;
        color: #159947;
        font-weight: 900;
    }

    &__body {
        dl, dt, dd {
            margin: 0;padding:0;list-style:none;
        }

        dl {
            display: flex;
            gap: 1.6rem;
            padding: 1.4rem 0;
            border-bottom: 1px solid #e5e8ef;
            font-size:var(--krds-pc-font-size-body-medium);
            
        }
        dt {
            flex:0 0 15%;max-width:15%;
            font-weight:700;
        }

        dd {
            line-height: 1.65;
        }

        p {
            margin: 0;
            + p {
                margin-top: 0.8rem;
            }
        }
    }

    &__foot {
        display: flex;
        justify-content: center;
        padding: 2rem 2.4rem 2.4rem;

        .krds-btn {
            min-width: 17rem;
            justify-content: center;
        }
    }
}
.info-box{background-color:#EEF2F7;border:solid 1px #CDD1D5;border-radius:1.2rem;padding:4rem;margin-bottom:4.4rem;
    display:flex;flex-direction:column;gap:1.6rem;
    font-size:var(--krds-pc-font-size-body-large);
    .tit{display:flex;align-items:center;gap:.8rem;
        font-size:var(--krds-pc-font-size-heading-medium);
        .svg-icon{width:2.4rem;height:2.4rem;flex:0 0 2.4rem;}
    }
    .txt{display:flex;align-items:start;gap:.8rem;
        font-size:var(--krds-pc-font-size-body-large);
        color:#0B50D0;
        .svg-icon{width:2rem;height:2rem;flex:0 0 2rem;margin-top:4px;}
    }
    .krds-btn{
        background-color:#fff;
        color:#0B50D0;
        border-color:#000;
        font-size:var(--krds-pc-font-size-body-large);
        font-weight:400;
        .svg-icon{background-color:#256EF4;}
    }
}
.jurisdiction_law{
    ul,li{list-style:none;margin:0;padding:0}
    ul{
        display:grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap:2.4rem;
        li{
            a{
                padding:1.6rem;
                border-radius:.8rem;
                display:flex;align-items:center;
                background-color:#F4F6FF;
                color:#464C53;
                font-size:var(--krds-pc-font-size-heading-small);
                font-weight:600;
                .krds-badge{
                    width:4.4rem;height:4.4rem;flex:0 0 4.4rem;padding:0;min-height:none;border-radius:.8rem;display:inline-flex;align-items:center;justify-content:center;
                    margin-left:auto;
                    background-color:#176CF0;
                    .svg-icon{background-color:#fff;width:2.4rem;height:2.4rem;}
                }
            }
        }
    }
}

.support-card {
    .card-title {
        width: 100%;
        padding: 0;
        border: 0;
        background: none;
        text-align: left;
        cursor: pointer;
    }
}
// 아이디 비번 찾기
.find-form-area{display:flex;flex-direction: column;gap:2rem;margin:0 auto;max-width:600px;
    .form-group{display:flex;flex-direction:row;margin-top:1.2rem;
        label{flex:0 0 20%;max-width:20%;margin-top:1.6rem;}
        .krds-input, .field-control{flex:1;}
        .field-control {
            p{margin-top:.8rem}
        }
    }
    form{display:flex;flex-direction: column;gap:1.2rem;}
    .tab.fill.full > ul > li{flex:1;
        .btn-tab{border: solid 1px var(--krds-light-color-border-gray);}
    }
    &.find-pw{max-width:800px;
        .find-id-fields{
            display:flex;gap:3rem;
            .form-group-wrap{flex:1 1 auto;}
            &::before{
                content:'';
                flex:0 0 100px;width:100px;height:100px;background-color:#F7F7F7;border-radius:1.2rem;
                background-repeat:no-repeat;background-size:72px;background-position:center center;
            }
            &.is-personal{
                &::before{background-image:url(./img/find-member-personal.svg);}
            }
            &.is-company{
                &::before{background-image:url(./img/find-member-company.svg);}
            }
        }
    }
    &.find-result{
        text-align:center;gap:5rem;padding-top:4rem;border-top:solid 1px var(--krds-color-light-primary-50);
        *{font-size:var(--krds-pc-font-size-body-large)}
        strong{color:var(--krds-color-light-primary-50)}
    }
}
/* 인증 영역 */
.auth-section {
  margin-top: 4.8rem;
  display:flex;flex-direction:column; gap:2rem;
}

.auth-title {
  font-size: var(--krds-pc-font-size-heading-medium);
}
.auth-card-grid, .auth-card{
  border: 1px solid var(--krds-color-light-gray-20);
  background: var(--krds-color-light-alpha-white100);
  overflow: hidden;
}

.auth-card-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  border-radius: 2rem;
  .auth-card{border:none;background-color:transparent;}
  .auth-card + .auth-card {
    border-left: 1px solid var(--krds-color-light-gray-20);
  }
}
.auth-card {
  min-height: 32rem;
  padding: 3.6rem 2.4rem;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:1.6rem;
  text-align: center;
  &.full {
    min-height: 30rem;border-radius: 2rem;
  }
}

.auth-icon {
    position: relative;
    margin: 0 auto;
    width:100px;height:100px;background-color:#F7F7F7;border-radius:1.2rem;
    background-repeat:no-repeat;background-size:72px;background-position:center center;
    &.phone {background-image:url(./img/cert-icon-phone.svg);}
    &.ipin {background-image:url(./img/cert-icon-ipin.svg);}
    &.cert {background-image:url(./img/cert-icon-pub.svg);}
}

.auth-notice {
  padding: 0;
  list-style: none;

  li {
    position: relative;
    padding-left: 1.6rem;
    line-height: 1.5;

    &::before {
      content: '•';
      position: absolute;
      left: 0;
      color: var(--krds-color-light-primary-50);
      font-weight: 900;
    }
  }
}
.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.footer-sns-list{
    ul, li{list-style:none;margin:0;padding:0;}
    ul{display:flex;gap:1rem;
        a{display:flex;align-items:center;justify-content:center;width:4rem;height:4rem;border-radius:100%;background-color:#fff;border:solid 1px var(--krds-color-light-gray-20);
            .svg-icon{width:22px;height:22px;}
        }
    }

}
.sch-filter-box {
  display: none;
}

.sch-form-wrap.on {
  .sch-filter-box {
    display: block;
  }
}
.krds-form-chip-wrap{display:flex;flex-wrap:wrap;gap:.8rem;

}
.search-top-box {
    .sch-filter-box {
        .filter-form{display:flex;flex-direction:column;gap:2.4rem;}
    }
}
.sch-sort{display:flex;justify-content:flex-end;
    li{display:flex;gap:.8rem;align-items:center;justify-content:flex-end;
        .w-sort-btn{display:flex;gap:.8rem; align-items:center;
            .active{color:var(--krds-color-light-primary-50)}
        }
    }
    &:only-child, &.only-child{width:100%;}
}
.krds-structured-list {
    .card-body {
        .c-date {display:flex;gap:2.4rem}
    }
    &.relate .structured-item{
        &:hover {
            .card-body {
                .go-btn{bottom:0;}
            }
        }
    }
}
.mobile-only{display:none;}
@media (max-width: 767px) {
    .lnb{display:none;}
    .pc-only{display:none;}
    .mobile-only{display:block;}
    .notice-layer {
        &__head{
            h3{flex-direction: column;gap:.2rem;}
        }
        &__body {
            dl {flex-direction: column;gap:.2rem;
                dt, dd{flex:none;max-width:100%;}
            }
        }
    }
    .jurisdiction_law{
        ul{ display:flex;flex-direction:column;gap:1.6rem;}
    }
}
@media (max-width:545px){
    .footer-top {flex-direction:column;}
    .find-form-area{
        .form-group{flex-direction:column;align-items:start;
            label{margin-top:0;}
            .krds-input, .field-control{flex:none;width:100%;}
        }
    }
    .krds-structured-list {
        .card-body {
            .c-date {flex-direction:column;gap:1.2rem}
        }
    }
}
