/* swiper css */
:root {
  --swiper-theme-color: #007aff;
  --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-wrapper-transition-timing-function: initial;
}
:host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  display: block;
}
.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}
.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}
.swiper-horizontal {
  touch-action: pan-y;
}
.swiper-vertical {
  touch-action: pan-x;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}
.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}
/* 3D Effects */
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}
.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}
.swiper-3d {
  perspective: 1200px;
  .swiper-slide,
  .swiper-cube-shadow {
    transform-style: preserve-3d;
  }
}
.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}
.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}
@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Slide styles end */

/* 스크롤바 숨김 처리 전용 클래스 */
.hide-scrollbar {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}
/* Chrome, Safari, Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* datepicker */
.ondatepicker {
    display: flex;
    align-items: center;
}
.ondatepicker .ondatepicker-wrapper {
    position: relative;
}
.ondatepicker .ondatepicker-input {
    cursor: pointer;
}
.ondatepicker .ondatepicker-input::placeholder {
    color: var(--krds-light-color-text-disabled);
}
.ondatepicker .ondatepicker-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    width: 20px;
    height: 20px;
}
.ondatepicker-small .ondatepicker-input {
    height: var(--krds-size-height-6);
    font-size: var(--krds-pc-font-size-label-small);
}
.ondatepicker .react-datepicker__tab-loop {
    position: absolute;
}
/* 달력 커스텀 style */
.ondatepicker .react-datepicker {
  font-size: 13px !important; 
  font-family: 'Pretendard GOV'; 
  border: 1px solid #dbdbdb !important;
  border-radius: 12px !important; 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08); 
  overflow: hidden;
}
/* 헤더  */
.ondatepicker .react-datepicker__header {
  background-color: #fff !important;
  border-bottom: 1px solid #f0f0f0 !important;
  padding: 15px 0 !important;
}
/* 현재 연월 텍스트 */
.ondatepicker .react-datepicker__current-month {
  font-size: 13px !important;
  font-weight: 700 !important;
  color: #333;
  margin-bottom: 10px !important;
}
/* 요일 칸 */
.ondatepicker .react-datepicker__day-name {
  width: 28px !important; /* 칸 너비 확대 */
  line-height: 28px !important;
  margin: 3px !important;
  color: #999 !important;
  font-weight: 500;
}
/* 날짜 칸 */
.ondatepicker .react-datepicker__day {
  width: 28px !important; 
  line-height: 28px !important;
  margin: 3px !important;
  font-size: 12px;
  border-radius: 50% !important; 
  transition: background-color 0.2s;
}
/* 오늘 날짜 표시 */
.ondatepicker .react-datepicker__day--today {
  font-weight: 700 !important;
  color: var(--krds-light-color-button-primary-fill) !important; 
  background: none !important;
  border: 1px solid var(--krds-light-color-button-primary-fill) !important;
}
/* 선택된 날짜 */
.ondatepicker .react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: var(--krds-light-color-button-primary-fill) !important; 
  color: #fff !important;
  font-weight: 700;
}
.ondatepicker .react-datepicker__day:hover {
  background-color: #f0f7ff !important;
}
.ondatepicker .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle {
    fill: #fff;
    stroke: #dbdbdb;
}
/* 화살표 버튼 위치 및 크기 */
.react-datepicker__navigation {
  top: 18px !important;
}

.react-datepicker__navigation--previous {
  left: 10px !important;
}

.react-datepicker__navigation--next {
  right: 10px !important;
}

.datepicker-group  {
    display: flex;
    align-items: center;
    gap: 8px;
}
.datepicker-group .ondatepicker {
    gap: 12px;
}
.datepicker-group .react-datepicker-wrapper {
    width: 206px;
}
.search-top-box .form-row-box {
    flex-wrap: wrap;
}
.search-top-box .form-row-box .input-group-box {
    flex: 1;
}
.input-group-box {
    display: flex;
    align-items: center;
    gap: 12px;
}
.input-group-box .sch-input {
    flex:1;
}
.krds-table-wrap .krds-btn {
    width: auto;
}
.krds-table-wrap .krds-btn ~ .krds-btn {
    margin-left: 10px;
}
.on-form-register .on-form-option  {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-bottom: 16px;
}
.on-form-register .on-form-option .txt-caution{
    margin-bottom: 0;
}
.on-form-register .on-form-option .krds-btn {
    margin-left: auto;
}
.on-form-row .form-row-label {
    display: flex;
    align-items: center;
}
.on-form-row .form-row-label.flex-start {
    align-items: flex-start;
}
.on-form-row .select-group {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}
.on-form-row .form-row-content .w-184 {
    width: 184px;
}
.search-top-box .form-row-box .krds-form-select.w-164 {
    min-width: 164px;
}
.on-form-row dd ~ dt {
    margin-left: 10px;
}
.on-form-register .txt-caution {
    font-size: 15px;
}
.on-form-row .form-wrapper.row-small{
    display: flex;
    align-items: center;
    gap: 4px;
}
.on-form-row .form-row-content .w-120 {
    width: 120px;
}
.on-form-row .form-row-content .w-140 {
    width: 140px
}
.on-form-row .form-row-content .w-150 {
    width: 150px
}
.on-form-row .form-row-content .w-460 {
    width: 460px;
}
.on-form-row .form-wrapper ~ .form-wrapper {
    margin-top: 8px;
}
.on-form-row .text-value {
    font-weight: 700;
    color: #464C53;
}
.on-form-register .form-title {
    margin-bottom: 8px;
}
.conts-wrap .on-form-register ~ .info-list-point  {
    margin-top: 16px;
}
.conts-wrap .sec-tit3 {
    margin-bottom: var(--krds-pc-gap-layout-title-body-small);
    font-size: var(--krds-pc-font-size-heading-small);
}
.flex-between {
    display: flex;
    justify-content: space-between;
    gap:  var(--krds-pc-gap-layout-title-body-medium);
}
.flex-between.center {
    align-items: center;
}
.krds-table-wrap .tbl .no-data {
    border-top: var(--krds-table--data-border-width) solid var(--krds-table--data-tbody-color-divider);
}
.krds-table-wrap .tbl tbody th.bg {
    background-color: var(--krds-table--data-thead-surface);
    border-bottom: var(--krds-table--data-border-width) solid var(--krds-table--data-thead-border);
    font-weight: var(--krds-font-weight-bold);
    font-size: var(--krds-table--data-thead-pc-font-size);
    color: var(--krds-table--data-thead-color-text);
}
.on-search-summary .summary-list {
    display: flex;
    align-items: center;
    gap: 18px;
}
.on-search-summary .summary-item {
    flex: 1;
}
.on-search-summary .summary-title {
    padding: 8px 0;
    text-align: center;
    font-weight: 700;
    background: #F4F5F6;
    border-radius: 8px 8px 0 0;
}
.on-search-summary .summary-result {
    padding: 18px 0;
    border-radius: 0 0 8px 8px;
    border: 1px solid #E6E8EA;
    border-top: 0;
    font-weight: 700;
    color: #464C53;
    text-align: center;
}
.on-search-summary .summary-result strong {
    font-size: 40px;
    color: #1E2124;
    line-height: 1.5;
}
.form-hint {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--krds-pc-font-size-body-xsmall);
    color: var(--krds-color-light-gray-70);
    gap: var(--krds-gap-2);
    margin-top: 8px;
}
.form-hint.point {
    color: #D63D4A;
}

.certify-conts .krds-info-list {
    margin-top: 24px;
}
.certify-cont-box {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
    border-radius: 12px;
    border: 1px solid #D9D9D9;
}
.certify-cont-box .certify-cont-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.certify-cont-box .certify-cont-item ~ .certify-cont-item {
    border-left: 1px dashed #CDD1D5;
}
.certify-cont-box .certify-cont-title {
    margin-bottom: 58px;
    text-align: center; 
    font-size: var(--krds-pc-font-size-heading-medium);
    font-weight: 700;
}
.certify-cont-box .certify-cont-img {
    width: 228px;
    height: 228px;
    background: url("./img/sub/img_certify.svg") no-repeat 50%;
    background-size: 100% auto;
}
.certify-cont-box .certify-cont-img.phone {
    background-image: url("./img/sub/img_certify_phone.svg");
    background-size: 102px 168px;
}
.certify-cont-box .certify-cont-img.ipin {
    background-image: url("./img/sub/img_certify_ipin.svg");
    background-size: 224px 134px;
}
.certify-cont-box .krds-btn {
    margin-top: 50px;
    min-width: 200px;
}
.search-top-box .sch-filter-box .filter-sect {
  padding-bottom: 24px;
  border-bottom: 1px solid #D6E0EB;
}
.search-top-box .filter-sect .filter-chip {
  margin-top: 0;
}
.on-list-btm > span strong {
  flex-shrink: 0;
}
.on-list-btm .max-w {
  max-width: 72%;
}
.bg-guide .bg-guide-img {
    width: auto;
}
.bg-guide.bg-gray {
    background-color: #F4F5F6;
}
.bg-guide.bg-gray .bg-guide-sub {
    margin-top: 36px;
}
.guide-txt .guide-txt-check {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #256EF4;
  border-radius: 50%;
}
.guide-txt .ico-checkbox {
  width: 14px;
  height: 13px;
  background-image: none;
  background-color: #256EF4;
}
.guide-txt .important {
  font-size: 15px;
  color: #D63D4A;
}
.on-boxlist.img-formatlist .on-boxlist-in > div {
  align-items: flex-start;
}
.on-boxlist.img-formatlist .on-boxlist-in img {
  width: 120px;
}
.on-boxlist.img-formatlist .on-boxlist-in .h-tit3 {
  margin-bottom: 8px;
}
.on-boxlist.img-formatlist .on-boxlist-in .sub-text {
  color: #6D7882;
}
.on-boxlist.img-formatlist .on-boxlist-in .desc {
  margin-top: 34px;
  color: #464C53;
  line-height: 1.5;
}
.on-boxlist.img-formatlist .side-btn  {
  display: flex;
  gap: 16px;
}
.txt-box.bg-white.gap-16 {
    gap: var(--krds-gap-5);
}
.form-group.row-sm {
    flex-direction: row;
    gap: var(--krds-gap-7);
}
.form-group.row-sm .form-tit {
    width:120px;
}
.form-group.row-sm .form-label {
    font-weight: 700;
}
.form-group.row-sm  .form-conts .w-260 {
    width: 260px;
}
.form-group.row-sm .form-wrapper {
    display: flex;
    gap: var(--krds-gap-4);
}
.on-detail-list .info-conts {
    display: flex;
    align-items: center;
    gap: var(--krds-gap-6);
}
.on-detail-list .info-conts .info-btns {
  margin-left: auto;
}
.on-detail-list .info-conts .info-btns  .krds-btn ~ .krds-btn {
  margin-left: 8px;
}
.on-detail-list.small dl dt,
.on-detail-list.small dl dd {
    padding: 6px 16px;
}
.on-detail-list.small dl dt {
    font-size: 15px;
}
.guide-text-box .guide-text {
    margin-top: 24px;
    font-size: 19px;
    line-height: 1.5;
}
.guide-text-box .guide-text strong {
    font-size: 24px;
    font-weight: 700;
    color: #0B50D0;
}
.guide-text-box .guide-text p {
    margin-top: 18px;
    font-size: 19px;
    color: #464C53;
}
/* modal */
.krds-modal .modal-dialog.modal-sm {
    max-width: 560px;
}
.krds-modal .modal-dialog.modal-sm .modal-conts {
    padding-top: 0;
    margin-top: -24px;
}
.confirm-guide .sub-title {
    font-size: 15px;
    font-weight: 700;
}
.confirm-guide .main-title {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
}
.confirm-guide .ico-confirm {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    margin-right: 4px;
    background: no-repeat 50%;
    background-size: 100% auto;
}
.confirm-guide .ico-confirm {
    background-image: url(../src/assets/sub/ico_confirm_success.svg);
}
.confirm-guide .ico-fail {
    background-image: url(../src/assets/sub/ico_confirm_fail.svg);
}
.confirm-guide .sub-desc {
    margin-top: 16px;
}

.purpose-selection {
    margin-top: 24px;
    display: flex;
    gap: 16px;
}
.purpose-selection .btn-purpose {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex:1;
    height: 128px;
    padding: 0 8px;
    border-radius: var(--radius-medium2, 6px);
    border: 1px solid var(--color-button-tertiary-border, #58616A);
} 
.purpose-selection .btn-purpose:hover {
    background: var(--Sub-Gra-Light, linear-gradient(106deg, #FCF9FF 10.51%, #E3E8FA 150.93%));
    border-color: #0B50D0;
}
.purpose-selection .btn-purpose i {
    width: 48px;
    height: 48px;
    background: no-repeat 50%;
    background-size: 100% auto;
}
.purpose-selection .btn-purpose i.ico-public {
    background-image: url(../src/assets/sub/ico_public.svg);
}
.purpose-selection .btn-purpose i.ico-other{
    background-image: url(../src/assets/sub/ico_other.svg);
}
.purpose-selection .btn-purpose span {
    margin-top: 6px;
    font-size: 19px;
    font-weight: 700;
}
.select-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
.select-list li ~ li {
  border-top: 1px solid #CDD1D5;
}
.select-list li:first-of-type {
  padding-top: 0;
}
.select-list li:last-of-type {
  padding-bottom: 0;
}
.select-list .krds-form-check input[type=radio] ~ label {
  align-items: center;
  gap: 24px;
  font-size: 19px;
}
.select-list .krds-form-check input[type=radio] ~ label::before {
  margin-top: 0;
}
.select-list .krds-form-check input[type=radio] ~ label::after {
  top: 50%;
  transform: translateY(-50%);
}
.select-list .krds-form-check .sub-txt {
  display: block;
  margin-bottom: 4px;
}
.select-list .krds-form-check .sub-txt em {
  margin-right: 4px;
  color:#464C53;
}
/* 메인 */
/* main 2차 디자인 수정 */
.main-container{
  position: relative;
}
.main-container .main-toplayout {
  padding-top: 64px;
  background: url(../src/assets/main/mainBg.png) no-repeat 50% 0 / 100% auto;
}
.main-container .main-top-inner {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}
.main-container .main-top-srch {
  margin: 0 auto;
  max-width: 740px;
}
.main-container .main-top-srch.is-fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 20px;
  /* left: 50%;
  transform: translateX(-50%); */
  z-index: 80;
}
.main-container .top-srch {
  display: block;
}
/* focus 됐을 때 */
.main-container .top-srch.is-focused .krds-input {
  padding-right: 124px;
  border-radius: 30px 30px 0 0;
  border-bottom: 0;
}
.main-container .sch-input-box {
  position: relative;
}
.main-container .top-srch .ico-keyboard {
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
}
.main-container .top-srch .ico-key {
  width: 24px;
  height: 24px;
  background: url(../src/assets/main/icon_keyboard.svg) no-repeat 50% / 100% auto;
}
.main-container .top-srch .ico-clear {
  position: absolute;
  right: 68px;
  top: 50%; 
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #CDD1D5;
}
.main-container .top-srch .ico-clear .ico-del {
  width: 18px;
  height: 18px;
}
.main-container .top-srch .krds-input {
  width: 100%;
  height: 60px;
  padding: 0 56px 0 30px;
  border: 3px solid #256EF4;
  border-radius: 30px;
  filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 0.12)) 
          drop-shadow(0 0 2px rgba(0, 0, 0, 0.08));
}
.main-container .top-srch .krds-input::placeholder {
  color: #464C53;
}
.main-container .top-srch .ico-search {
  right: 32px;
  width: 28px;
  height: 28px;
}
.main-container .top-srch .ico-sch {
  background-color: #256EF4;
}
.main-container .main-top-srch .sch-layer {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background: #fff;
  padding: 24px 0 18px;
  border: 3px solid #256EF4;
  border-radius: 0 0 30px 30px;
  border-top: none;
  z-index: 10;
}
.main-container .main-top-srch .sch-layer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 8px;
  right: 8px;
  height: 1px;
  background-color: #CDD1D5;
}
.main-container .main-top-srch .sch-layer-inner {
  padding: 0 24px 24px;
}
.main-container .main-top-srch .sch-layer-footer {
  padding: 16px 24px 0;
  border-top: 1px solid #CDD1D5;
}
.main-container .main-top-srch .sch-layer-popular-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 210px;
  overflow-y: auto;
}
.main-top-srch .sch-layer-popular-list .sch-popular-item {
  width: 50%;
  margin-top: 16px;
}
.main-top-srch .sch-popular-item .item-link {
  display: flex;
  align-items: center;
  gap: 8px;
}
.main-top-srch .sch-layer-popular-list .rank {
  width: 20px;
  color: #8A949E;
}
.main-top-srch .sch-layer-popular-list li:nth-child(1) .rank,
.main-top-srch .sch-layer-popular-list li:nth-child(2) .rank,
.main-top-srch .sch-layer-popular-list li:nth-child(3) .rank {
  color: #0B50D0;
}
.main-top-srch .sch-layer-auto-list {
  margin-top: -16px;
  max-height: 330px;
  overflow-y: auto;
}
.main-top-srch .sch-layer-auto-list li {
  margin-top: 16px;
}
.main-top-srch .sch-layer-auto-list li button {
  display: flex;
  align-items: center;
  gap: 8px;
}
.main-top-srch .sch-layer-auto-list .ico-keyword {
  width: 24px;
  height: 24px;
  background: url(../src/assets/main/ico_keyword_sch.svg) no-repeat 50%/100% auto;
}
.main-top-srch .sch-layer-auto-list .keyword {
  color: #0B50D0
}
.main-container .main-top-keyword {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 38px;
  margin-top: 20px;
}
.main-container .main-top-keyword h3 {
  white-space: nowrap;
}
.main-container .main-top-keyword .keyword-list {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  white-space: nowrap;
}
.main-container .main-top-keyword .word {
  padding: 0 12px;
  height: 32px;
  background-color: #D6E0EB;
  border-radius: 44px;
}

/* 메인 - 자주 찾는 서비스 */
.main-quick-menu {
  background: #000;
  border-radius: 20px;
  margin-top: 64px;
  padding:  32px 12.6% 32px 6.3%;
  background: linear-gradient(286deg, #7742D9 -1.35%, #328CDF 100.25%);
  backdrop-filter: blur(15px);
}
.main-quick-menu .section-tit {
  flex-shrink: 0;
}
.main-quick-menu .flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap:wrap;
}
.main-quick-menu .quick-menu-swiper {
  position: relative;
  min-width: 0;
  max-width: 1000px;
}
.main-quick-menu .swiper {
  padding: 16px 0;
}
.main-quick-menu .quick-menu-item {
  display: flex;
  justify-content: center;
}
.main-quick-menu .quick-menu-item button {
  padding: 16px 0;
  border-radius: 8px;
  transition: all .3s ease-in;
}
.main-quick-menu .quick-menu-item button:hover {
  background-color: #fff;
  box-shadow: 0 0 2px 0, rgba(0, 0, 0, 0.05), 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}
.main-quick-menu .quick-menu-item button:hover .quick-menu-tit {
  color: #0B50D0;
}
.krds-structured-list:not(.type-full) .card-top:first-child {
  margin-bottom: 0;
}
.krds-structured-list .card-body .c-text .c-tit .onellipsis-2 {
  min-height: 57px;
}
.krds-structured-list.row-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.krds-structured-list .card-top .krds-badge ~ .krds-badge {
  margin-left: 4px;
}
.krds-structured-list .c-ico-txt {
  font-size: 15px;
}
.krds-structured-list .c-ico-txt ~ .c-ico-txt {
  margin-top: 4px;
}
.krds-structured-list .c-ico-txt .svg-icon {
  position: relative;
  top: 2px;
  margin-right: 4px;
  width: 16px;
  height: 16px;
}
.krds-structured-list .card-btm.no-border {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}

.service-tabcont .more-btn {
  margin-top: 30px;
  text-align: center;
}
.service-tabcont .more-btn .krds-btn {
  min-width: 300px;
}
.svg-icon.ico-circlecheck {
  background: url(../src/assets/common/ico_circlecheck.svg) no-repeat center / 100% auto;
}
.svg-icon.ico-build {
  background: url(../src/assets/common/ico_build.svg) no-repeat center / 100% auto;
}
.svg-icon.ico-location {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: url(../src/assets/common/ico_location.svg);
}

.main-container .contents-inner {
  padding: 0 20px;
  max-width: 1420px;
  margin: 0 auto;
}
.main-container .section-tit {
  font-size: 24px;
  font-weight: 700;
}
.main-container .section-tit.white {
  color: #fff;
}
.main-section {
  padding: 64px 0;
}
.main-section .section-inner {
  padding: 0 50px;
}
.main-section .section-tit .sub-text {
  margin-left: 8px;
  font-size: 15px;
  font-weight: 400;
  color: #464C53;
}
.main-totalbox-left h3 .totalbox-txt {
  font-size: 20px;
  font-weight: 400;
  color: #e9e9e9;
}
/* 메인 - 자주 찾는 서비스 */
.swiper-nav-wrap {
  z-index: 1;
}
.swiper-nav-wrap .swiper-navigation-icon {
  display: none;
} 
.quick-menu-swiper .swiper-nav-wrap [class^=swiper-button-] {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.quick-menu-swiper .swiper-nav-wrap [class^=swiper-button-]::after {
    width: 16px;
    height: 16px;
}
.quick-menu-swiper .swiper-nav-wrap .swiper-button-prev {
  left: -6.6%;
}
.quick-menu-swiper .swiper-nav-wrap .swiper-button-next {
  right: -6.6%;
}
.swiper-pagination.swiper-pagination-fraction {
  height: 30px;
  padding: 0 8px;
  font-size: 13px;
}
.swiper-pagination.swiper-pagination-fraction .swiper-pagination-current {
  color: var(--krds-color-light-primary-60);
}
.swiper-nav-wrap .swiper-button-next.swiper-button-disabled, 
.swiper-nav-wrap .swiper-button-prev.swiper-button-disabled {
  background-color: #fff;
}

/* 메인 - 지금 이용 가능한 서비스 */
.main-service .flex-box {
  display: flex;
  align-items: center;
  gap: 30px;
}
.main-container .tablist {
  display: flex;
  align-items: center;
}
.main-container .tablist button.text {
  display: block;
  padding: 8px;
  font-weight: 700;
  color: #464C53;
  border-radius: 0;
}
.main-container .tablist li.is-active button {
  position: relative;
  color: #052B57;
}
.main-container .tablist li.is-active button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #063A74;
}
.main-service .service-tabconts {
  margin-top: 32px;
}

/* 메인 - 공지사항*/
.main-notice {
  background: #F1F1FD;
}
.main-notice .notice-wrap {
  margin-top: 24px ;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.main-notice .notice-left {
  flex: 1;
  padding: 32px;
  background: #fff;
  border-radius: 12px;
  border: 1px solid #CDD1D5;
}
.main-notice .notice-tab {
  position: relative;
}
.main-notice .notice-tab .more {
  position: absolute;
  right: 0;
  top: 0;
}
.main-notice .notice-tab-conts {
  margin-top: 24px;
}
.main-notice .board-list li ~ li {
  margin-top: 12px;
}
.main-notice .board-list .board-list-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.main-notice .board-list .board-list-link:hover {
  background-color: #ECF2FE;
  border-radius: 4px;
}
.main-notice .board-list .board-list-link:hover .board-list-title {
  color: #0B50D0;
}
.main-notice .board-list .board-list-link:hover .krds-badge {
  background-color: #fff;
}
.main-notice .board-list .krds-badge {
  margin-right: 16px;
}
.main-notice .board-list .board-list-title {
  flex: 1;
}
.main-notice .board-list .board-list-date {
  padding-left: 10px;
  flex-shrink: 0;
}
.main-notice .notice-right {
  width: 490px;
}
.main-notice .main-banner {position: relative;}
.main-banner .main-banner-item {
  border: 1px solid #CDD1D5;
  border-radius: 12px;
  overflow: hidden;
}
.main-banner .main-banner-link {
  display: block;
  height:386px;
}
.main-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-banner .swiper-nav-wrap {
  position: absolute;
  right: 16px;
  bottom: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 1;
}
.main-banner .swiper-pagination {
  font-size: 17px;
  height: 32px;
}
.main-banner .swiper-autoplay-toggle {
  position: relative;
  width: 32px;
  height: 32px;
  border: 1px solid #D9D9D9;
  background: #fff;
  border-radius: 50%;
}
.main-banner .swiper-autoplay-toggle::before {
  content:"";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  background: url(../src/assets/common/ico_play.svg) no-repeat 50% / 100% auto;
}
.main-banner .swiper-autoplay-toggle.stop::before {
  background-image: url(../src/assets/common/ico_stop.svg);
}
.main-banner [class^=swiper-button-] {
  width: 32px;
  height: 32px;
}
.main-container .main-btm-bar {
  padding: 42px 0;
  background: #063A74;
}
.main-btm-bar .contents-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.main-btm-bar .title {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

/* header - 스크롤할시 show/hide */
#krds-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* z-index: 100; */
  transform: none;
  transition: transform 0.3s ease;
}
#krds-header.is-hidden {
  transform: translateY(-100%);
}
.main-container, 
.sub-container {
  transition: margin-top 0.3s ease;
}

/* AiChat Components */
.ai-btnBox {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 12px;
}
button.aichatButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 50%;
  height: 50px;
  color: #464C53;
  font-family: "Pretendard GOV";
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  padding: 8px 15px;
  border-radius: 8px;
  border: 1px solid #D6E0EB;
  box-sizing: border-box;
  background: #fff;
  /* transition: all 0.35s; */
}
button.aichatButton:hover {
  color: #0B50D0;
  border: 1px solid #256EF4;
}
button.aichatButton.active {
  color: #fff;
  font-weight: 700;
  border: 2px solid var(--color, #705DEB);
  background: var(--SNB-GRA, linear-gradient(286deg, #7742D9 -1.35%, #328CDF 100.25%));
}
.ai-accBox {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}
.ai-accBox h2 {
  color: #1E2124;
  font-family: "Pretendard GOV";
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0;
  margin-bottom: 12px;
}
.accordionButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  width: 100%;
  height: 39px;
  color: #464C53;
  font-family: "Pretendard GOV";
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  padding: 8px 15px;
  border-radius: 4px;
  background-color: #fff;
}
.accordionBox {
  height: auto;
}
.accordionBox.open {
  height: 100%;
}
.accordionBox span.total {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  color: #256EF4;
  padding: 0 8px;
  margin-left: auto;
  margin-right: 4px;
  border-radius: 1000px;
  background: #fff;
}
.accordionBox span.total.close {
  color: #fff;
  background: #256EF4;
}
.accordionButton.active {
  color: #fff;
  font-weight: 700;
  background: var(--SNB-GRA, linear-gradient(286deg, #7742D9 -1.35%, #328CDF 100.25%));
}
.accordionButton.active i.up {
  background-color: #CDD1D5;
}
.accordionList {
  position: relative;
  padding: 15px;
  margin-top: 6px;
  background-color: #ECF2FE;
}
.accordionList .krds-check-area {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.accordionList .krds-check-area .krds-form-chip {
  flex: 1;
}
.ai-toggleBox {
  display: flex;
}
.ai-toggleBox .krds-form-toggle-switch [type=checkbox] ~ label {
  color: #1E2124;
  font-family: "Pretendard GOV";
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
}
.krds-table-wrap .tbl.data thead th.bd-r {
  border-right: 1px solid var(--krds-light-color-border-secondary-light);
}
.search-top-box.only-filter {
  padding: 24px;
}
.search-top-box.only-filter .filter-chip {
  margin-top: 0;
}
.search-top-box .sch-form-wrap .input-wrap.w-180 {
  width: 180px;
}
.search-top-box .sch-form-wrap .sch-input.w-304 {
  width: 304px;
}
.search-top-box .krds-btn.icon.border .ico-refresh {
  width: 16px;
  height: 16px;
}
.txt-caution.has-icon {
  display: flex;
  gap: 5px;
}
.txt-caution .ico-info {
  flex-shrink: 0;
  margin-top: 4px;
  width: 16px;
  height: 16px;
  background: url(../src/assets/sub/ico_info.svg) no-repeat 50%;
  background-size: 100% auto;
}
.krds-info-list.point li strong.point {
  display: block;
  margin-bottom: 8px;
  color: #052B57;
}
.krds-info-list.point.decimal > li::before {
  background-color: #052B57;
}
.krds-info-list > li > .krds-info-list {
  margin-top: 8px;
}
.krds-info-list > li .bold {
  color: #1E2124;
} 
.conts-desc.on-important {
  color: #052B57;
  font-weight: 700;
}
.conts-wrap .conts-desc.on-important ~ .conts-desc.on-important {
  margin-top: 16px;
}
.conts-wrap .conts-desc.on-important ~ .conts-desc {
  margin-top: 40px;
}
.conts-wrap .btns-box {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.krds-btn.text .svg-icon.gray {
  background-color: #33363D;
}
.form-groupbox {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 48px;
}
.form-groupbox .form-question {
  margin-bottom: 16px;
  font-size: 17px;
}
.form-groupbox .krds-check-area {
  padding-left: 30px;
}
.krds-structured-list.type-full .card-body .flex-row {
  display: flex;
  gap: 8px;
}
.krds-structured-list .card-body .c-tit.small {
  font-size: 19px;
}
.krds-structured-list.type-full .card-body .flex-row .krds-badge-wrap {
  flex-shrink: 0;
}
.on-no-data {
  padding: 14px 0;
  text-align: center;
  border-top: 1px solid #B1B8BE;
  border-bottom: 1px solid #B1B8BE;
}
.on-no-data p {
  color: #464C53;
}
.graph-box {
  padding-top: 42px;
  border: 1px solid #CDD1D5;
  border-radius: 12px;
}
.graph-box .graph-tit {
  font-size: 24px;
  font-weight: 700;
  color:#0B50D0;
  text-align: center;
}
.graph-box .graph-wrap {
  position: relative;
  display: flex;
  justify-content: center;
}
.graph-box .custom-legend {
  position: absolute;
  right: 60px;
  top: 54px;
}
.graph-box .legend-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.graph-box .legend-item ~ .legend-item {
  margin-top: 18px;
}
.graph-box .legend-shape {
  width: 46px;
  height: 17px;
}
.graph-box .legend-tit {
  font-size: 15px;
  color:#464C53;
}
.graph-box .tooltip {
  background: #fff;
  border: 1px solid #e5e7eb; 
  border-radius: 8px;
  padding: 10px 14px;
  font-size: 13px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
.graph-box .tooltip-tit {
  font-weight: 600;
  margin-bottom: 6px;
}

/* util  */
.mt-8 {
  margin-top: 8px;
}
.pb-0{
  padding-bottom: 0;
}
.sr-only {
  left: -9999px; /* 모바일에서 table안에 sr-only 들어가면 가로 스크롤 생김 방지 */
}


/* 반응형*/
@media (max-width: 1400px) {
  .krds-main-menu .gnb-menu .gnb-main-trigger {
    min-width: 140px;
    padding: 0 20px;
  }
}
@media (max-width: 1024px) {
  .main-container .section-sub-tit {
    display: none;
  }
  .krds-structured-list.row-4 {
    grid-template-columns: 1fr 1fr;
  }
  .main-container .main-top-srch.is-fixed {
    top: 108px;
  }
}
@media (max-width: 767px) {
  .krds-form-toggle-switch [type=checkbox] ~ label {
    font-size: 17px;
  }
  .mo-hide {
    display: none;
  }
  #krds-header {
    z-index: 100;
  }
  .txt-box.outline .check-list > li {
      font-size: var(--krds-mobile-font-size-body-medium);
  }
  .search-list-top.flex-end {
    align-items: center;
    flex-direction: row;
    gap: 8px;
  }
  .datepicker-group {
      flex-wrap: wrap;
  }
  .search-top-box.no-details {
      padding: 26px 20px;
  }
  .search-top-box .form-row-box {
      align-items: flex-start;
  }
  .on-form-row dd ~ dt {
      margin-left: 0;
  }
  .on-search-summary .summary-list {
    gap: 8px;
  }
  .on-search-summary .svg-icon {
    width: 16px;
    height: 16px;
  }
  .on-search-summary .summary-result strong {
    font-size: 30px;
  }
  .search-top-box .form-row-box .krds-form-select,
  .datepicker-group .react-datepicker-wrapper {
    width: 184px;
  }
  .certify-cont-box {
    flex-direction: column;
    gap: 40px;
    padding: 30px 0;
  }
  .certify-cont-box .certify-cont-item ~ .certify-cont-item {
    padding-top: 40px;
    border-top: 1px dashed #CDD1D5;
    border-left: 0;
    }
  .certify-cont-box .krds-btn {
      margin-top: 30px;
  }
  .certify-cont-box .certify-cont-img {
      width: 200px;
      height: 200px;
  }
  .certify-cont-box .certify-cont-title {
      margin-bottom: 30px;
  }
  .on-form-row .form-row-content .w-120 {
      width: 100%;
  }
  .on-form-row .form-row-content .w-140 {
      width: 100%;
  }
  .on-form-row .form-row-content .w-150 {
      width: 100%;
  }
  .on-form-row .form-row-content .w-460 {
      width: 100%;
  }
  .txt-box.bg-white .box-sub {
    font-size: 15px;
  }
  .on-detail-list .info-conts {
    flex-wrap: wrap;
  }
  .form-group.row-sm .form-tit {
    width: 70px;
  }
  .form-group.row-sm .form-conts .w-260 {
    width: 100%;
  }
  .form-group.row-sm,
  .form-group.row-sm .form-wrapper {
    gap: var(--krds-gap-2);
  }
  .on-detail-list .info-conts {
    gap: var(--krds-gap-4);
  }
  .on-detail-list .info-conts .info-btns {
    margin-left: 0;
  }
  .confirm-guide .main-title {
    font-size: 22px;
  }

  /* ~~~~~~~~~~~~~~~~~~~메인~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  .main-totallayout {
    height: auto;
    background: url(/home-dev/src/assets/main/mainBg_mo.png) no-repeat 50% 0;
    background-size: 100% auto;
  }
  .main-totallayout .main-totallistbox .inner {
    padding: 0;
  }
  .main-total-p {
    padding-top: 30px;
    font-size: 17px;
  }
  .main-total-tit {
    font-size: 32px;
    margin: 14px 0 30px;
  }
  .main-totalbox-right {
    display: none;
  }
  .main-totalbox-left {
    width: 100%;
    margin: 30px 0;
    padding: 0 16px;
  }
  .main-totalbox-input {
    height: 50px;
    border: 2px solid #0841a2;
    border-radius: 25px;
    gap: 8px;
  }
  .main-totalbox-input select {
    display: none;
  }
  .main-totalbox-input input {
    padding: 0 20px;
    font-size: 16px;
    outline: none;
    color: #1e2124;
  }
  .main-totalbox-input .main-totalbox-button {
    width: 44px;
    height: 44px;
    flex: 0 0 44px;
    margin: 1px;
  }
  .main-totalbox-input .main-totalbox-button::before {
    width: 20px;
    height: 20px;
  }
  .main-totalbox-left h3 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .main-totalbox-left h3 .totalbox-txt {
    display: none;
  }
  .main-totalbox-left h3 .totalbox-tit {
    padding-left: 0;
  }
  .main-totalbox-word {
    display: none;
  } 
  .main-section {
    padding: 24px 0;
  }
  .main-section .section-inner {
    padding: 0;
  }
  .main-section .section-tit .sub-text {
    display: none;
  }
  .quick-menu-tit {
    font-size: 15px;
  }
  .quick-menu-txt {
    white-space: nowrap;
  }
  .main-quick-menu .quick-menu-item button {
    min-width: 0;
    width: 100%;
    align-items: center;
  }
  .main-quick-menu .quick-menu-item button:hover {
    background: transparent;
    box-shadow: none;
  }
  .main-quick-menu .quick-menu-item button:hover .quick-menu-tit {
    color: #fff;
  }
  /* 메인 - 공지사항 */
  .main-notice {
    padding-top: 0;
    background: #fff;
  }
  .main-notice .notice-wrap {
    margin-top: 20px;
  }
  .main-notice .notice-left {
    padding: 20px 16px;
  }
  .main-notice .notice-right {
    width: 100%;
  }
  .main-notice .board-list li ~ li {
    margin-top: 8px;
  }
  .main-notice .board-list .board-list-link {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    font-size: 17px;
  }
  .main-notice .board-list .board-list-date {
    padding-left: 0;
    font-size: 15px;
  }
  .main-banner .main-banner-link {
    height: 270px;
  }
  .search-top-box .sch-form-wrap .sch-input.w-304 {
    width: auto;
  }
  /* header 디자인 수정 */
  .krds-main-menu-mobile .gnb-wrap .gnb-header {
    padding-bottom: 16px;
  }
  .krds-main-menu-mobile .gnb-wrap .gnb-login.is-login{
    display: block;
  }
  .krds-main-menu-mobile .gnb-wrap .gnb-user-info {
    font-size: 19px; 
    font-weight: 700;
  }
  .krds-main-menu-mobile .gnb-wrap .gnb-user-info .user {
    color: var(--krds-light-color-text-primary);
  }
  .krds-main-menu-mobile .gnb-wrap .gnb-sesseion-timer {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }
  .krds-main-menu-mobile .gnb-wrap .timer {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
  }
  .krds-main-menu-mobile .gnb-sesseion-timer .krds-btn {
    margin-left: 10px;
  }
  .krds-main-menu-mobile .gnb-header-link {
    gap: 8px; 
    display: flex;
    align-items: center;
    margin-top: 24px;
  }
  .krds-main-menu-mobile .gnb-header .gnb-login .gnb-header-link .krds-btn {
    width: 50%;
    font-weight: 400;
    text-align: center;
  }
  .main-container .main-toplayout {
    padding-top: 20px;
    background-image: url(../src/assets/main/mainBg_mo.png);
  }
  .main-container .main-top-inner {
    padding: 0;
  }
  .main-container .main-top-srch {
    max-width: none;
    padding: 0 15px;
  }
  .main-container .main-top-srch .sch-layer {
    top: 50px;
  }
  .main-top-srch .sch-layer-popular-list .sch-popular-item {
    margin-top: 10px;
  }
  .main-container .main-top-srch .sch-layer-footer {
    padding: 20px 24px 0;
  }
  .main-container .top-srch .krds-input {
    padding-left: 24px;
    padding-right: 50px;
    height: 50px;
    font-size: 17px;
  }
  .main-container .top-srch.is-focused .krds-input {
    padding-right: 90px;
  }
  .main-container .top-srch .ico-search {
    width: 32px;
    height: 32px;
    right: 24px;
  }
  .main-container .top-srch .ico-keyboard {
    display: none;
  }
  .main-container .main-top-keyword {
    margin-top: 15px;
    padding-left: 15px;
    gap: 16px;
  }
  .main-container .main-top-keyword h3 {
    font-size: 15px;
  }
  .main-container .main-top-keyword .word {
    height: 30px;
    font-size: 15px;
  }
  .main-container .keyword-list li:last-of-type {
    margin-right: 15px;
  }
  .main-quick-menu {
    margin-top: 24px;
    padding: 20px 0;
    border-radius: 0;
  }
  .main-quick-menu .section-tit br {
    display: none;
  }
  .main-quick-menu .swiper {
    padding: 0;
  }
  .main-quick-menu .quick-menu-img {
    width: 60px;
    height: 60px;
  }
  .main-quick-menu .quick-menu-tit {
    font-size: 15px;
  }
  .main-service .flex-box {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  .main-container .tablist {
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-right: -15px;
  }
  .main-container .tablist li {
    flex-shrink: 0;
  }
  .main-container .tablist button.text {
    padding: 11px 8px;
  }
  .main-service .service-tabconts {
    margin-top: 24px;
  }
  .krds-structured-list.row-4 {
    grid-template-columns: 1fr;
    gap: 12px;
  }
  .service-tabcont .more-btn .krds-btn {
    width: 100%;
  }
  .service-tabcont .more-btn {
    margin-top: 20px;
  }
  .main-container .section-tit.white {
    padding: 0 15px;
    font-size: 17px;
  }
  .main-notice .notice-tab-conts {
    margin-top: 56px;
  }
  .main-notice .notice-tab .more {
    top: 64px;
    font-size: 15px;
  }
  .main-container .main-btm-bar {
    padding: 32px 0;
  }
  .main-btm-bar .contents-inner {
    padding: 0 15px;
    flex-direction: column;
    gap: 24px;
  }
  .main-btm-bar .title {
    font-size: 19px;
    text-align: center;
  }
  .quick-menu-swiper .swiper-nav-wrap .swiper-button-prev {
    left: 15px;
    z-index: 1;
  }
  .quick-menu-swiper .swiper-nav-wrap .swiper-button-next {
    right: 15px;
    z-index: 1;
  }
  .on-form-row .form-row-content .w-360 {
    width: 100%;
  }
  .form-groupbox {
    margin-top: 24px;
  }
  .form-groupbox .krds-check-area {
    flex-direction: column;
  }
  .graph-box .custom-legend {
    right: auto;
    top:auto;
    bottom: 40px;
  }
  .graph-box .legend-item ~ .legend-item {
    margin-top: 4px;
  }
  .graph-box .graph-wrap {
    padding-bottom: 42px;
  }
  .graph-box .legend-shape {
    width: 24px;
    height: 10px;
  }
  .graph-box .legend-tit {
    font-size: 12px;
  }
  .tab-conts.active {
    gap: 0;
  }
  .select-list li {
    flex-direction: column;
    align-items: flex-start;
  }
  .select-list .krds-form-check input[type=radio] ~ label {
    font-size: 17px;
  }
  .select-list li .krds-btn {
    margin: 12px 0 0 44px;
  }
}